<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<form action="" method="post">
    {#    {% csrf_token %}#}
    用户名：<input type="text" name="user" id="id_username">
    密码：<input type="text" name="pwd" id="id_password">
    <input type="submit" value="提交1">
    <input type="button" value="提交" id="submit">
</form>
</body>
<script>
    $('#submit').click(function () {
        $.ajax({
            url: '/index/',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                'name': $('#id_username').val(),
                'password': $('#id_password').val()
            }),
            success: function (args) {
                console.log(args)
            }
        })
    })
</script>
</html>